body
{
    margin: 0;
    height: 100vh;
    background-color: #2e2e2e;
    font-family: Consolas, monospace;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../assets/background.jpg")
}

.gabriel-gourdon
{
    font-size: 2.5rem;
    border: 1px solid #555;
    padding: 3rem 4rem;
    background-color: #3b3b3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: top 1s ease-in-out, transform 1s ease-in-out, font-size 1s ease-in-out, padding 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.top-position
{
    top: 0;
    transform: translateX(-50%);
    font-size: 2rem;
    padding: 1rem 2rem;
}

.reponse-console
{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 4.5rem;
    left: 1.5rem;
    right: 1.5rem;
    font-size: 1.25rem;
    color: #ccc;
    font-family: Consolas, monospace;
    box-sizing: border-box;
    z-index: 10;
    white-space: pre-wrap;
    max-height: 150px;
    overflow-y: auto;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.reponse-console:empty
{
    background-color: transparent;
    padding: 0;
    max-height: 0;
    overflow: hidden;
}

.ligne-console
{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #444;
    color: #ddd;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    font-family: Consolas, monospace;
    pointer-events: none;
}

.ligne-console span.prompt
{
    margin-right: 0.5rem;
}

.input-console
{
    display: inline-flex;
    align-items: baseline;
    white-space: pre;

}

.txt-ecrit
{
    display: inline;
}

.curseur
{
    display: inline-block;
    width: 10px;
    height: 1.25rem;
    background-color: #ddd;
    margin-left: 1px;
    animation: blink 1s step-start infinite;
}

@keyframes blink
{
    50% {
        opacity: 0;
    }
}

.grille-projets
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 8rem 2rem 2rem;
    width: 100%;
    max-height: 900px;
    overflow-y: auto;  
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.8s ease-in-out;
    position: absolute;
    top: 0;
    z-index: 1;
    scrollbar-width: thin; 
    scrollbar-color: #666 #333;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 100px, black calc(100% - 50px), transparent 100%);
    mask-image: linear-gradient(to bottom, transparent, black 100px, black calc(100% - 50px), transparent 100%);
}


.grille-projets::-webkit-scrollbar .reponse-console::-webkit-scrollbar
{
    width: 8px;
}

.grille-projets::-webkit-scrollbar-track .reponse-console::-webkit-scrollbar-track
{
    background: #333;
}

.grille-projets::-webkit-scrollbar-thumb .reponse-console::-webkit-scrollbar-thumb
{
    background-color: #666;
    border-radius: 4px;
    border: 2px solid #333;
}

.grille-projets.visible
{
    opacity: 1;
    pointer-events: auto;
}

.projet
{
    border: 1px solid #555;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    height: 300px;
}

.project-header
{
    background-color: #444;
    padding: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #555;
}

.project-body
{
    padding: 2rem;
    background-color: #555;
    flex-grow: 1;
}

.social-icons {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: calc(50% + 4.5rem);
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
  
.social-icons a svg {
    cursor: pointer;
    transition: stroke 0.3s ease;
}
  
.social-icons a:hover svg {
    stroke: #f80040;
}
  
.social-icons.hidden {
    opacity: 0;
    pointer-events: none;
}